[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
django-filter = "*"
pillow = "*"
django-validators = "*"
dj-database-url = "*"
python-dotenv = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
django-allauth = "*"
postmarker = "*"
dj-rest-auth = "*"
gunicorn = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
