[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-filter = "*"
pillow = "*"
django-validators = "*"
dj-database-url = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
